*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{ text-decoration: none; }

body {
    font: 100% 'Poppins', Sans-serif ;
   
}
:root{
  --black: #000000;
  --black-light: #111111; 
  --gray-light: #999999;
  --gray-semi-light: #666666;
  --gray-dark: #333333; 
  --blue-sky: #0969C3; 
  --blue-gray: #CFE3F4; 
}
